RED-ardusb-cruscotto-1-temp.txt
[{"id":"51cc7f21.7b937","type":"debug","z":"2b93330f.8f620c","name":"","active":true,"console":"false","complete":"true","x":403.64300537109375,"y":73.57145500183105,"wires":[]},{"id":"9addd563.2594e8","type":"function","z":"2b93330f.8f620c","name":"parse json","func":"a=JSON.parse(msg.payload);\nvar mesg=a.temp;\nvar rit = {payload: mesg};\nreturn  rit;","outputs":1,"noerr":0,"x":331.51133728027344,"y":258.9261245727539,"wires":[["51cc7f21.7b937","a91d0825.11cde8","b45f7fe4.38fc9","aeefd327.79dcf"]]},{"id":"3974caf1.9c1e26","type":"json","z":"2b93330f.8f620c","name":"","x":153.5142059326172,"y":362.93180084228516,"wires":[["9addd563.2594e8"]]},{"id":"47b76920.810578","type":"serial in","z":"2b93330f.8f620c","name":"","serial":"1da5d181.d509de","x":87.51988220214844,"y":116.98011016845703,"wires":[["3974caf1.9c1e26"]]},{"id":"b45f7fe4.38fc9","type":"ui_gauge","z":"2b93330f.8f620c","name":"","group":"42f97143.724b5","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"units","format":"{{value}}","min":"25","max":"26","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25.3","seg2":"25.6","x":473.51133728027344,"y":467.8096103668213,"wires":[]},{"id":"a91d0825.11cde8","type":"ui_chart","z":"2b93330f.8f620c","name":"","group":"42f97143.724b5","order":0,"width":0,"height":0,"label":"Andamento","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":302.51988220214844,"y":519.8209915161133,"wires":[[],[]]},{"id":"aeefd327.79dcf","type":"worldmap","z":"2b93330f.8f620c","name":"","lat":"42","lon":"3","zoom":"12","layer":"OSM grey","cluster":"","maxage":"","usermenu":"show","panit":"false","x":605.5170059204102,"y":201.8153419494629,"wires":[]},{"id":"1da5d181.d509de","type":"serial-port","z":"","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"42f97143.724b5","type":"ui_group","z":"","name":"ARDUSB","tab":"725f7e8e.f0d8f","disp":true,"width":"6"},{"id":"725f7e8e.f0d8f","type":"ui_tab","z":"","name":"Controllo","icon":"dashboard"}]