RED/red_cruscotto_ardusb1.txt
[{"id":"9addd563.2594e8","type":"function","z":"2b93330f.8f620c","name":"parse json","func":"a=JSON.parse(msg.payload);\nvar mesgtemp=a.temp;\nvar temp = {payload: mesgtemp};\nvar mesgpm2=a.PM2;\nvar mesgpm10=a.PM10;\nvar pm2={payload:mesgpm2};\nvar pm10={payload:mesgpm10};\nreturn  [temp, pm2, pm10];","outputs":"3","noerr":0,"x":286.5113410949707,"y":169.92608261108398,"wires":[["a91d0825.11cde8","b45f7fe4.38fc9"],["e110d335.db381","14a80f78.1341b1"],["22885765.f24e38","970aeff7.f4f4d"]]},{"id":"b45f7fe4.38fc9","type":"ui_gauge","z":"2b93330f.8f620c","name":"","group":"42f97143.724b5","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"units","format":"{{value}}","min":"24","max":"27","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"26","x":697.5112762451172,"y":65.80957055091858,"wires":[]},{"id":"a91d0825.11cde8","type":"ui_chart","z":"2b93330f.8f620c","name":"","group":"42f97143.724b5","order":0,"width":0,"height":0,"label":"Andamento","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":676.5199222564697,"y":117.82094764709473,"wires":[[],[]]},{"id":"e110d335.db381","type":"ui_gauge","z":"2b93330f.8f620c","name":"","group":"c19cc163.dde79","order":0,"width":0,"height":0,"gtype":"gage","title":"PM2","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":676.7812004089355,"y":233.5254888534546,"wires":[]},{"id":"22885765.f24e38","type":"ui_gauge","z":"2b93330f.8f620c","name":"","group":"f0286e05.5675c","order":0,"width":0,"height":0,"gtype":"gage","title":"PM10","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":674.5113296508789,"y":461.78691482543945,"wires":[]},{"id":"14a80f78.1341b1","type":"ui_chart","z":"2b93330f.8f620c","name":"","group":"c19cc163.dde79","order":0,"width":0,"height":0,"label":"PM2 andamento","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":671.5142097473145,"y":296.76982402801514,"wires":[[],[]]},{"id":"970aeff7.f4f4d","type":"ui_chart","z":"2b93330f.8f620c","name":"","group":"f0286e05.5675c","order":0,"width":0,"height":0,"label":"PM10 andamento","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":676.508544921875,"y":519.7698249816895,"wires":[[],[]]},{"id":"37140058.33ebf","type":"serial in","z":"2b93330f.8f620c","name":"","serial":"1da5d181.d509de","x":83.5141830444336,"y":276.9772834777832,"wires":[["9addd563.2594e8","4dd2c39c.8515bc"]]},{"id":"242d3e76.253e42","type":"file","z":"2b93330f.8f620c","name":"","filename":"c:\\users\\max\\documents\\redlog2.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":595.0000305175781,"y":576.9999542236328,"wires":[]},{"id":"e6af128c.335d3","type":"mongodb out","z":"2b93330f.8f620c","mongodb":"85d10825.bfeb18","name":"","collection":"dati","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":724.7812118530273,"y":632.820761680603,"wires":[]},{"id":"4dd2c39c.8515bc","type":"function","z":"2b93330f.8f620c","name":"toglie \\r\\n","func":"var a=msg.payload;\nvar b=a.substring(0,a.length-2)\nreturn  { payload:b};","outputs":1,"noerr":0,"x":287.7897720336914,"y":649.0198059082031,"wires":[["2230b244.1f996e","242d3e76.253e42"]]},{"id":"2230b244.1f996e","type":"json","z":"2b93330f.8f620c","name":"","x":484.50854873657227,"y":638.9317531585693,"wires":[["e6af128c.335d3"]]},{"id":"42f97143.724b5","type":"ui_group","z":"","name":"ARDUSB","tab":"3cb1f2a1.985d1e","order":1,"disp":true,"width":"6"},{"id":"c19cc163.dde79","type":"ui_group","z":"","name":"SDS 2","tab":"3cb1f2a1.985d1e","order":3,"disp":true,"width":"6"},{"id":"f0286e05.5675c","type":"ui_group","z":"","name":"SDS 10","tab":"3cb1f2a1.985d1e","order":2,"disp":true,"width":"6"},{"id":"1da5d181.d509de","type":"serial-port","z":"","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"85d10825.bfeb18","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"ardusb","name":""},{"id":"3cb1f2a1.985d1e","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
